<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<script
    src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.skypack.dev/twind/shim"
    type="module"
    integrity="sha384-XzLjzijoD4DIlP3xyn7CbA0E9FfYGmT5YyrV1Hqz6qNUYZTFp9wByh5/WtLvqppG"
    crossorigin="anonymous"
></script>