<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>FCE Almanac</title>
        <script
            src="https://unpkg.com/htmx.org@1.9.4"
            integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.skypack.dev/twind/shim"
            type="module"
            integrity="sha384-XzLjzijoD4DIlP3xyn7CbA0E9FfYGmT5YyrV1Hqz6qNUYZTFp9wByh5/WtLvqppG"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="flex flex-row h-screen bg-gray-800" hidden>
        {{ template "sidebar.tmpl.html" . }}
    </body>
</html>
